.App-header {
  background-color: aquamarine;

  margin: auto;
  width: 400px;
  min-height: 200px;

  border: solid 3px green;
}

.container h3,
p {
  background-color: green;
  border-radius: 10px;
}
